{% extends "base.html.twig" %}

{% block body %}
    <div class="card m-5">
        <h5 class="card-header">{{ auction.title }}</h5>
        <div class="card-body">
            <p class="card-text">{{ auction.description }}</p>
        </div>

        <ul class="list-group list-group-flush">
            <li class="list-group-item">Price: {{ auction.price }}$</li>
            <li class="list-group-item">Starting price: {{ auction.startingPrice }}$</li>
            <li class="list-group-item">End date: {{ auction.expireAt | date("Y-m-d H:i:s") }}</li>
        </ul>
    </div>
    <a class="btn btn-secondary float-left" href="{{ url('auction_index') }}"> Return</a>
    <a class="btn btn-info float-left" href="{{ url('my_auction_edit',{'id':auction.id}) }}">Edit</a>

    {{ form_start(deleteForm, {"attr":{"class":"float-left"}}) }}
    {{ form_widget(deleteForm.submit, {"attr":{"class":"btn-danger"}}) }}
    {{ form_rest(deleteForm) }}
    {{ form_end(deleteForm) }}

    {{ form_start(finishForm, {"attr":{"class":"float-left"}}) }}
    {{ form_widget(finishForm.submit,{"attr":{"class":"btn-warning"}}) }}
    {{ form_rest(finishForm) }}
    {{ form_end(finishForm) }}

{% endblock %}